In [3]:
import pandas as pd

In [14]:
def Get_Stun(df):
    i=int(input("merhaba kaçıncı stunu getireyim"))
    print(df.iloc[:,i-1])

In [15]:
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})

In [16]:
Get_Stun(df)

merhaba kaçıncı stunu getireyim 1

0    1
1    2
2    3
Name: A, dtype: int64

In [25]:
def df_birleştirme(df1,df2):
    df3=pd.concat([df1,df2])
    print(df3)

In [26]:
df_birleştirme(df,df)

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
0  1  4  7
1  2  5  8
2  3  6  9

In [27]:
def csv_read(yol):
    df=pd.read_csv(yol)
    return df

In [52]:
yol=r"C:\Users\Ahmet Koç\jupyter\Acun_medya\ornek_veri.csv"
df=csv_read(yol)
print(df)

yol2=r"C:\Users\Ahmet Koç\jupyter\Acun_medya\eksik_veri.csv"
df2=csv_read(yol2)

   ID    Name  Age      City
0   1   Ahmet   23  İstanbul
1   2  Melike   21    Ankara
2   3  Mehmet   25     İzmir
3   4  Zeynep   22     Bursa
4   5   Burak   24   Antalya

In [34]:
def ilk(df):
    x=int(input(" ilk kaç satırı görmek istiyosun"))
    head=df.head(x)
    print(head)

In [35]:
ilk(df)

 ilk kaç satırı görmek istiyosun 2

   ID    Name  Age      City
0   1   Ahmet   23  İstanbul
1   2  Melike   21    Ankara

In [36]:
def son(df):
    x=int(input(" sondan kaç satırı görmek istiyosun"))
    tail=df.tail(x)
    print(tail)

In [37]:
son(df)

 sondan kaç satırı görmek istiyosun 2

   ID    Name  Age     City
3   4  Zeynep   22    Bursa
4   5   Burak   24  Antalya

In [38]:
def info(df):
   print(df.info())

In [39]:
info(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      5 non-null      int64
 1   Name    5 non-null      object
 2   Age     5 non-null      int64
 3   City    5 non-null      object
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes
None

In [40]:
def sıralama(df):
    stn=input("stun ismi giriniz")
    df=df.sort_values(by=stn,ascending=False).head()
    print(df)

In [41]:
sıralama(df)

stun ismi giriniz Age

   ID    Name  Age      City
2   3  Mehmet   25     İzmir
4   5   Burak   24   Antalya
0   1   Ahmet   23  İstanbul
3   4  Zeynep   22     Bursa
1   2  Melike   21    Ankara

In [50]:
def satır_silme(df):
    x=int(input("kaçıncı satır silinsin"))
    print("silinecek satır",df.iloc[x])
    df=df.drop(x)
    print(df.shape)

In [51]:
satır_silme(df)

kaçıncı satır silinsin 2

silinecek satır ID           3
Name    Mehmet
Age         25
City     İzmir
Name: 2, dtype: object
(4, 4)

In [53]:
def eksik_silme(df):
    df=df.dropna()
    print(df.isnull())

In [58]:
def eksik_varmı(df):
    print(df.isnull())

In [59]:
eksik_silme(df2)
eksik_varmı(df2)

      ID   Name    Age   City
0  False  False  False  False
4  False  False  False  False
      ID   Name    Age   City
0  False  False  False  False
1  False  False   True  False
2  False   True  False  False
3  False  False  False   True
4  False  False  False  False